.container-routes {
  display: flex;
  flex-direction: column;
}

.routes {
  background-color: #2b3331;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.container-page {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
