.monitoramento {
  padding: 20px;

  section {
    margin-bottom: 50px;
  }

  h2 {
    color: #1db196;
    margin-bottom: 20px;
    font-size: 28px;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .card {
      background: white;
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 20px;
      text-align: center;
      flex: 1;
      max-width: 300px;
      min-width: 200px; // Para manter um tamanho mínimo
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: transform 0.2s, box-shadow 0.2s;
      cursor: pointer;

      .number {
        font-size: 36px;
        color: #1db196;
        font-weight: bold;
        margin-bottom: 10px;
      }

      .text {
        font-size: 16px;
        color: #555;
      }

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }
    }
  }

  .last-register {

    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    flex: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    h3 {
      color: #1db196;
      margin-bottom: 20px;
      font-size: 20px;
    }
    
    .data-info {
      display: flex;
      justify-content: space-between;
      color: #1db196;
    }
  }
    
  .graficos {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
  }
}
