.containerForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.title {
  font-size: 24px;
  color: #1db196;
}

.input {
  width: 100%;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 8px;
  border: 2px solid #1db196;
  background-color: #223330;
  color: #1db196;
  outline: 0;
}

.inputLabel {
  font-size: 18px;
  color: #1db196;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

textarea {
  resize: none;
}

.buttonWrapper button {
  margin-top: 20px;
  margin-left: 10px;
  padding: 10px 20px;
  border-radius: 8px;
  border: 3px solid #1db196;
  background-color: #1db196;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  transition: 0.4s;
}

.buttonWrapper button:hover {
  background-color: transparent;
  border: 3px solid #1db196;
  color: #1db196;
}

.error {
  width: 80%;
  margin: 0 10px 10px 10px;
  background-color: transparent;
  color: tomato;
  transition: 0.4s;
}
