.header {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 0 120px;
    backdrop-filter: blur(4px);
    overflow: hidden;
    width: 100%;
    height: 75px;
    z-index: 99;

    .links  {
        display: flex;
        flex-direction: row;
        gap: 20px; 

        a {
            color: #505050;
            font-size: 14px;
            transition: .3s;
        }

        a:hover {
            color: #12a680;
            text-decoration: none;
        }
    }
    

    .logoTitle {
        color: #12a680; 
        font-size: 22px;
        font-weight: 500;

        span:nth-child(1) {
            font-weight: 300;
        }

        :hover {
            text-decoration: none;
        }
    }
}
