.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #223330;
    padding: 20px;

    .links  {
        display: flex;
        flex-direction: row;
        gap: 20px;        
    }

    .logoTitle {
        color: #1DB196;
        font-weight: bold;
    
    }
}

