
.section-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 30px;
}

.video-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 1px solid #12a680;
  border-radius: 20px;
}


.video-wrapper iframe {
  width: 100%;
  height: 100%;
}

.video {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  aspect-ratio: 16/9;
  background: #000;
  overflow: hidden;
  border-radius: 10px;
  overflow: hidden;
}

.video-overlay path {
  fill: #fff;
}

.video-overlay svg {
  transition: .4s;
  height: 72px;
}

.video-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(100% 100% at 50% 120%, #12a680, #00101000);
}

.video-wrapper img {
  width: 600px;
}
.video-wrapper .video-overlay svg:hover {
  scale: 1.07;
}


.section-video .section-heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.section-video .section-heading-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-video .section-heading-text {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  align-items: center;
  color: #12a680;
  font-weight: 400;
}

.section-video .section-heading-text span {
  display: flex;
  width: 50px;
  height: 2px;
  background: #12a680;
}

.section-video .section-heading-title {
  font-size: 48px;
  color: #12a680;
  font-weight: 400;
  line-height: 1.15;
}



