footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(250, 255, 255);
    border-top: 1px solid #12a68030;
    padding-top: 20px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 88vw;
    padding: 24px 50px;
    opacity: 0.75;
    margin: 0 auto;
}

.footer-content-bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-content-bottom .copyright {
    font-size: 13px;
    font-weight: 100;
    color: #252525;
}

.footer-content-bottom a {
    font-size: 13px;
    font-weight: 100;
    color: #252525;
    text-decoration: none;
    transition: .4s;
}

.footer-content-bottom a:hover {
    color: #1DB196;
}

.footer-content nav {
    display: flex;
    gap: 20px;
}

.logoTitle {
    color: #12a680; 
    font-size: 22px;
    font-weight: 500;

    span:nth-child(1) {
        font-weight: 300;
    }

    :hover {
        text-decoration: none;
    }
}