* {
  -webkit-print-color-adjust: exact !important; /* Chrome, Safari 6 – 15.3, Edge */
  color-adjust: exact !important; /* Firefox 48 – 96 */
  print-color-adjust: exact !important; /* Firefox 97+, Safari 15.4+ */
}

.relatorios-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .header {
    background-color: #2d8c3b;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: 24px;
    }

    .filters {
      button {
        background: white;
        border: none;
        padding: 10px 20px;
        margin-left: 10px;
        border-radius: 5px;
        cursor: pointer;

        &.active {
          background-color: #1f5635;
          color: white;
        }

        &:hover {
          background-color: #4caf50;
          color: white;
        }
      }
    }
  }

  .main-content {
    flex: 1;
    padding: 20px;

    .chart-section {
      margin-bottom: 40px;

      h2 {
        margin-bottom: 10px;
      }
    }

    .filtroTempo {
      h2 {
        color: #287869;
      }

      .group-input {
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: flex-end;
        gap: 10px;

        .input-wrapper {
          display: flex;
          flex-direction: column;

          label {
            color: #287869;
            font-weight: 500;
            margin-bottom: 5px;
          }

          input {
            width: 100%;
            padding: 10px 20px;
            border-radius: 8px;
            font-size: 16px;
            border: 2px solid #287869;
            background-color: transparent;
            font-weight: bold;
            color: #287869;
            outline: 0;
            transition: 0.4s;

            &:focus {
              border: 3px solid #287869b9;
            }
          }
        }

        button {
          background-color: #287869;
          color: #fff;
          border: 2px solid #287869;
          padding: 10px 20px;
          border-radius: 5px;
          font-weight: bold;
          font-size: 16px;
          cursor: pointer;
          transition: 0.4s;

          &:hover {
            outline: 3px solid #28786994;
            background-color: transparent;
            color: #287869;
          }
        }
      }
    }

    .table-section {
      h2 {
        margin-bottom: 10px;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        background: #2e5c53;
        color: #fff;

        td {
          font-weight: 400;
        }

        th,
        td {
          border: 1px solid #223330;
          text-align: left;
          padding: 8px;
        }

        th {
          background: #2e5c53;
          color: #fff;
        }

        tr:nth-child(even) {
          background: #287869;
          color: #fff;
        }
      }
    }

    .analise-dados {
      width: 100%;
      margin: 40px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;

      h2 {
        margin-bottom: 10px;
        color: #287869;
      }

      .cards {
        display: flex;
        flex-flow: row wrap;
        gap: 20px;
        justify-content: space-between;

        .card {
          min-width: 250px;
          background-color: #287869;
          padding: 15px;
          border-radius: 5px;
          border: 2px solid #287869;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          transition: 0.2s;
          cursor: pointer;

          h3 {
            color: #fff;
          }
          p {
            color: #fff;
            font-size: 18px;
          }
        }
      }

      .wrapper-button {
        text-align: center;

        button {
          max-width: fit-content;
          margin: 40px 0;
          background-color: #287869;
          color: #fff;
          border: 2px solid #287869;
          padding: 10px 20px;
          border-radius: 5px;
          cursor: pointer;
          font-size: 18px;
          transition: 0.4s;
          font-weight: bold;

          &:hover {
            outline: 3px solid #28786994;
            background-color: transparent;
            color: #287869;
          }
        }
      }
    }
  }
}

@media print {
  header,
  footer,
  aside,
  form {
    display: none !important;
  }
  .dashboard {
    display: flex !important;
    flex-direction: column !important;
  }
  .sidebar,
  .header,
  .wrapper-button {
    display: none !important;
  }
  .dashboard {
    padding-top: 80px;
  }
  .dashboard ::-webkit-scrollbar {
    display: none;
  }
  .dashboard::after {
    content: "Dados exportados";
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px;
    font-size: 18px;
    font-weight: 600;
  }
}
